* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: url(../../../assets/img/light.gif);
}

.barra_login {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    padding: 30%;
}

h1 {
    width: 100%;
    font-size: 2.8125rem;
    font-weight: light;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
    justify-content: center;
    line-height: 43px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.barra_login ul {
    list-style: none;
    justify-items: center;
    margin-top: 3%;
    
}

.barra_login ul li {
    display: list-item;
    text-align: center;
    justify-content: center;
    list-style: none;
    padding: 5px;
}

.barra_login ul li button, a{
   color: #fff;
    padding: 2px 10px;
    border-radius: 7px;
    transition: 1s;
    background-color: #e38ba933;
    border: solid 2px#e38ba999;
    text-decoration: none;
}


span {
    font-weight: bolder;
    text-transform: uppercase;
    padding: 40px;
    text-align: right;
    font-size: 50px;
}


.modal-dialog {
    width: 30%;
    padding: 15px;
    justify-content: center;
    align-self: center;
    top: 19%;
    left: 34.7%;
}

    
#all{
    background-color:  #e38ba9e8;
    border: solid 2px #e38ba9e8;
    border-radius: .4375rem;
}

.modal-header button {
    border: none;
    background: none;
    text-align: right;
    color: #e38ba999;
}

.modal-content {
    padding: 20px;
    background-color: rgb(248, 245, 247);
}

.form-group {
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
}

.modal-body form .form-group label {
    line-height: 15px;
    margin-top: 5px;
    color: #720F64;
}

.modal-body form .form-group button {
    border: none;
    color: #720F64;
    left: 40%;
    /* margin-left: 19%; */
}



